// our styles 🍒

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1400px;
}

.title {
  font-family: bely-display, sans-serif;
  font-size: 2em;
}

.logo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin: 7em;
    width: 170px;
  }
}

// 🍒 header
.header {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 2%;
  gap: 30em;

  &__main {
    width: 25em;
  }
  &__title {
    font-family: bely-display, sans-serif;
    position: absolute;
    top: 9em;
    left: 7em;
    color: #001038;
  }
}
// 🍒 about us
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  gap: 3em;
  &__decor {
    display: flex;
    width: 15%;
  }
  &__photo {
    display: flex;
    gap: 3em;
  }
  &__container {
  }
}
.about-photo {
  margin: auto;
  width: 30%;
}

.webgl{
  position: absolute;
  left: 250px;
  top:220px;
}