// our styles 🍒

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  display: block;
  overflow-x: hidden;
  justify-content: center;
  margin: auto;
}

// 🍒 header
